@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

@mixin header-font {
  font-family: 'Teko', sans-serif;
}

$serif: 'Arial', sans;

h1,
h2,
h3,
h4 {
  @include header-font;
}

h1 { @include h1; }
h2 { @include h2; }
h3 { @include h3; }
h4 { @include h4; }

body {
  @include body-text;
  font-family: $serif;
  color: $base-90;
}

.text__lead {
  @include lead-text;
}

.text__description {
  font-style: italic;
  color: $base-50;
}