// Temporary Color variables. Replace with USWDS tokens
// Lower colors are brighter

$blue: #3882a3;
$blue-20: #63c4f5;
$blue-5: #91a8b3;

$red: #712641;

// Grayscale
$base-90: #2c2c2c;
$base-50: #6c6c6c;
$white: #f7f9fa