<ul class = "sg-colors">
  <li>
    <span class="sg-swatch" style="background: #3882a3;"></span>
		<span class="sg-label">#3882a3</span>
    <span class="sg-label">-- Blue- Gray</span>
  </li>
</ul>

<h4> Grayscale Palette </h4>
<ul class = "sg-colors">
  <li>
    <span class="sg-swatch" style="background: #2c2c2c;"></span>
		<span class="sg-label">#2c2c2c</span>
  </li>
</ul>