<ul class = "sg-colors">
  <li>
    <span class="sg-swatch" style="background: #3882a3;"></span>
		<span class="sg-label">#3882a3</span>
    <span class="sg-label">-- Blue</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #63c4f5;"></span>
		<span class="sg-label">#63c4f5</span>
    <span class="sg-label">-- Blue-20</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #91a8b3;"></span>
		<span class="sg-label">#91a8b3</span>
    <span class="sg-label">-- Blue-5</span>
  </li>
</ul>

<h4> Grayscale Palette </h4>
<ul class = "sg-colors">
  <li>
    <span class="sg-swatch" style="background: #2c2c2c;"></span>
		<span class="sg-label">#2c2c2c</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #6c6c6c;"></span>
		<span class="sg-label">#6c6c6c</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #f7f9fa;"></span>
		<span class="sg-label">#f7f9fa</span>
  </li>
</ul>